
	<b>Title: {{input value=type.title size='15'}}</b><br>
	<b>Author: {{input value=type.author size='15'}}</b><br>
	<b>Year: {{input value=type.year size='38'}}</b><br>
    <button {{action newAction}}>Submit Changes</button> 
	<button {{action cancel}}>Cancel</button><br>

{{yield}}
